<html>
  <head>
    <title>Cryptorama!</title>
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <div class="logo-row">
        <img src="images/logo.png" alt="logo" class="logo">
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="copyright">Copyright (c) 2019 Ron Bowes. All rights reserved.</div>
    </footer>
  </body>
</html>
